/* Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Common */
body {
    background-color: #F6F8F9;
}

/*header */

header {
    background-color: white;
    padding: 10px 20px;
    
}

.img-logo {
    vertical-align: middle;
}


.title-logo {
    display:inline-block;
    color:#041931;
    vertical-align: middle;
}

/*main*/

.container {
    max-width: 800px;
    margin: 40px auto;
    background-color: white;
    border-radius: 10px;
    
}

/*bottoni*/

.buttons {
    padding: 15px 55px;
    border-bottom: 2px solid #F6F8F9;
}


.button-task {
    background-color: #47ADF1;
    padding: 5px;
    border-radius: 5px;
    border-width: 0;
    color: white;
}

.button-section {
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    color: #D2D6DA;
    border: 1px solid #D2D6DA;
}

.text-button {
    font-size: 8px;
}

/* Sezioni*/

.sections {
    background-color: white;
    padding: 15px 55px;
}

ul {
    list-style: none;
    font-size: 12px;
    margin-top: 15px;
}

li {
    margin-top: 15px;
}

h3 {
    margin-top: 10px;
}

.check {
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 1px solid;
    margin-right: 5px;
    text-align: center;
    line-height: 15px;
}

.true {
    color: #6CC4AF; 
    border-color: #6CC4AF;;
}

.false {
    color: red;
    border-color: red;
}

.target {
    color: white;
    font-size: 10px;
    padding: 5px;
    border-radius: 10px;
}

.blue {
    background-color: #45ABEA;
}

.violet {
    background-color: #9C72E4;
}

.grey {
    background-color: #64C0A9;
}

.orange {
    background-color: #F29E33;
}

.pink {
    background-color: #D863A1;
}

.yellow {
    background-color: #B0C926;
}